# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Виртуальные окружения
.venv/
venv/
ENV/
env/

# pytest
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDE
.vscode/
.idea/
*.swp
*.swo

# Отчёты
*.html
report.html

# Логи
*.log

# ОС
.DS_Store
Thumbs.db